.quiz-page-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  align-items: center;
  justify-content: center;
}

.quiz-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  max-width: 320px;
  gap: 30px;
}

.quiz-header {
  justify-self: flex-start;
  align-self: flex-start;
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-top: 30px;
}

.quiz-text {
  align-items: flex-start;
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
}

.quiz-step {
  top: 30px;
  left: 0;
  position: absolute;
  background-color: var(--active);
  height: 10px;
  border-radius: 8px;
  z-index: 10;
}

.quiz-step-completed {
  top: 30px;
  left: 0;
  position: absolute;
  background-color: rgba(38,173,214,0.15);
  height: 10px;
  border-radius: 8px;
  width: 100%;
  z-index: 100
}

.quiz-player {
  width: 100%;
  height: 100px;
  background-color: rgba(38,173,214,0.15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.quiz-answers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.quiz-answers-text {
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.quiz-answers-props {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  gap: 20px;
  width: 100%;
  position: relative;
}

.quiz-answers-props-button {
  //border-style: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(38,173,214,0.5);
  background-color: rgba(38,173,214,0.15);
  border-radius: 8px;
  width: 100%;
}

.quiz-answers-props-button:not(.quiz-answers-props-button-correct):not(.quiz-answers-props-button-null):not(.quiz-answers-props-button-result-false):hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--active);
}

.quiz-answers-props-button-selected {
  box-shadow: 0 0 0 2px var(--active);
}

.quiz-answers-props-button-correct {
  box-shadow: 0 0 0 2px var(--active);
  background-color: rgba(48,230,139,0.5);
}

.quiz-answers-props-button-null {
  cursor: initial;
  background-color: rgba(0,0,0,0.5);
}

.quiz-answers-props-button-result-false {
  background-color: rgba(122,6,6,0.15);
}

.quiz-answers-props-button-result-falseText {
  color: rgba(255,255,255,0.15);
}

.quiz-answers-props-button-text {
  color: var(--white);
  padding: 10px;
  width: fit-content;
}

.quiz-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.quiz-submit-button {
  background-color: var(--active);
  padding: 10px;
  border-radius: 100px;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-style: hidden;
  cursor: pointer;
  transition: background-color 0.09s ease-in-out;

  &:hover {
    background-color: var(--dark);
  }
}

.quiz-submit-next {
  background-color: var(--active);
  padding: 10px;
  border-radius: 100px;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-style: hidden;
  cursor: pointer;
  transition: background-color 0.09s ease-in-out;

  &:hover {
    background-color: var(--dark);
  }
}

.disabled {
  background-color: rgba(38,173,214,0.15);
  cursor: initial;
}

.quiz-submit-button-text {
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
}

.quiz-button-like {
  cursor: pointer;
  border-style: hidden;
  background-color: var(--active);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  padding: 10px;
  transition: background-color 0.09s ease-in-out;

  &:hover {
    background-color: var(--dark);
  }
}

.liked {
  background-color: var(--dark);
  transition: background-color 0.09s ease-in-out;

  &:hover {
    background-color: var(--background);
  }
}

.quiz-button-like-text {
  color: var(--white);
}

.game-completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  & .game-completed-title {
    color: var(--white);
    font-size: 1.5rem;
    font-family: "Roboto-Bold", "sans-serif";
    margin-bottom: 10px;
  }

  & .game-completed-recap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;

    & .recap-text {
      color: var(--white);
      font-size: 1rem;
      font-family: "Roboto-Light", "sans-serif";
    }

    & .recap-value {
      font-size: 1.2rem;
      font-family: "Roboto-Bold", "sans-serif";
      color: var(--white);
    }
  }

  & .experience-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    background-color: var(--dark);
    height: 15px;
    border-radius: 100px;
    position: relative;
    padding: 5px;

    & .experience-progression-bar {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      background-color: var(--active);
      height: 15px;
      border-radius: 100px;
    }

    & .experience-progression-text {
      color: var(--white);
      font-size: 12px;
      font-family: "Roboto-Light", "sans-serif";
      margin-top: 40px;
    }
  }

  & .game-completed-button {
    margin-top: 50px;
    border-style: hidden;
    padding: 5px;
    width: 75px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--active);
    border-radius: 100px;
    transition: background-color 0.09s ease-in-out;
  }
}
