.guess-song-debut {
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.select-genres-container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & .select-genres-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: start;

    & .select-genre-button {
      padding: 10px;
      cursor: pointer;
      height: 40px;
      width: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background-color: rgba(38, 170, 164, 0.40);
      border: 1px solid var(--active);
      color: var(--white);
      font-size: 14px;

      &:hover:not(.selected-genre-button) {
        background-color: rgba(38, 170, 164, 0.20);
      }
    }

    & .selected-genre-button {
      background-color: rgba(38, 170, 164, 1);
    }
  }

  & .submit-selected-genres {
    width: 100%;
    height: 40px;
    padding: 15px 0;
    margin-top: 30px;
    color: var(--white);
    font-size: 16px;
  }
}