.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal-card {
  height: auto;
  width: 300px;
  background-color: var(--background);
  border-radius: 18px;
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.search-label {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Roboto-bold", "sans-serif";
  color: var(--white);
  margin-left: 25px;
}

.input-search {
  padding: 16px;
  border-radius: 18px;
  background-color: var(--white);
  width: 250px;
  height: 30px;
  color: #000;
  font-size: 16px;
  border-color: unset;
  margin-top: 20px;
  align-self: center;
}
.input-search:active, .input-search:focus {
  outline: none;
}

.input-error-message {
  color: var(--white);
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.save-container {
  align-self: center;
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.save-container .send-button {
  padding: 16px;
  border-radius: 18px;
  background-color: var(--active);
  height: 40px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: hidden;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
}

.result-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.result-search-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: var(--active);
  padding: 8px;
  border-radius: 24px;
  width: 290px;
  height: 75px;
  border-color: unset;
}

.result-search-item-infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.result-search-item-infos-text-container {
  display: flex;
  flex-direction: column;
}
.result-search-item-infos-text-container .result-search-item-infos-text {
  margin-top: 8px;
  color: var(--white);
  font-family: "Roboto-bold", "sans-serif";
  font-size: 14px;
  margin-bottom: 8px;
}

.genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  color: var(--white);
}

.genre-text {
  text-align: center;
  background-color: var(--white);
  padding: 4px;
  border-radius: 10px;
  color: #000;
  font-size: 10px;
  width: fit-content;
}

.image {
  margin-top: 8px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.added-artist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  flex-wrap: wrap;
  color: #fff;
  padding: 18px;
}

.added-artist-card {
  position: relative;
  z-index: 100;
}

.added-artist-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  margin-left: 25px;
  margin-top: 10px;
}

.added-artist-text {
  background-color: var(--active);
  padding: 8px;
  border-radius: 10px;
  color: var(--white);
  font-size: 14px;
  width: auto;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.delete-artist-icon {
  color: #000;
  font-size: 14px;
  position: absolute;
  right: -10px;
  top: -10px;
  padding: 2px;
  background-color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  z-index: 110;
}

.close-modal {
  position: absolute;
  right: 20px;
  top: 20px;
  align-self: flex-end;
  cursor: pointer;
  background-color: transparent;
  border-style: hidden;
}
.close-modal svg {
  width: 25px;
  height: 25px;
}
.close-modal path {
  fill: var(--white);
}

/*# sourceMappingURL=search-artists.css.map */
