.quiz-header {
  justify-self: flex-start;
  align-self: flex-start;
  height: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-top: 30px;
}

.quiz-text {
  align-items: flex-start;
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
}

.quiz-step {
  top: 30px;
  left: 0;
  position: absolute;
  background-color: var(--active);
  height: 10px;
  border-radius: 8px;
  z-index: 10;
}

.quiz-step-completed {
  top: 30px;
  left: 0;
  position: absolute;
  background-color: rgba(38,173,214,0.30);
  height: 10px;
  border-radius: 8px;
  width: 100%;
  z-index: 100
}