.edit-options-button {
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 4px;
  background-color: #26AAA4;
  border-radius: 50%;
  border-style: hidden;
  cursor: pointer;

  & .edit-options-button-text {
    font-weight: bold;
    font-size: 18px;
    color: var(--white);
  }
}