.quiz-answers-props-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(38,173,214,0.5);
  background-color: rgba(38,173,214,0.15);
  border-radius: 8px;
  width: 100%;
}

.quiz-answers-props-button:not(.quiz-answers-props-button-correct):not(.quiz-answers-props-button-null):not(.quiz-answers-props-button-result-false):hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--active);
}

.quiz-answers-props-button-selected {
  box-shadow: 0 0 0 2px var(--active);
}

.quiz-answers-props-button-correct {
  box-shadow: 0 0 0 2px var(--active);
  background-color: rgba(48,230,139,0.5);
}

.quiz-answers-props-button-null {
  cursor: initial;
  background-color: rgba(0,0,0,0.5);
}

.quiz-answers-props-button-result-false {
  background-color: rgba(122,6,6,0.15);
}

.quiz-answers-props-button-result-falseText {
  color: rgba(255,255,255,0.15);
}

.quiz-answers-props-button-text {
  color: var(--white);
  padding: 10px;
  width: fit-content;
}