.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 15px;
}

.informations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.cover {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: #4f4f4f;
}

.informations-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  margin-left: 10px;
  max-width: 150px;

  & .informations-text-artists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

  }
}

.song-text {
  color: var(--white);
  font-size: 10px;
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artists {
  color: var(--white);
  font-size: 10px;
  font-weight: bold;
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play {
  align-self: flex-end;
  position: absolute;
  right: 0;
  top: 5px;
}

.play-button {
  border-style: hidden;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--active);
  justify-content: center;
  align-items: center;
}

.controls {
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.loading {
  justify-content: center;
  align-items: center;
}

.progress-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 110%;
}

.progress-bar {
  cursor: pointer;
  width: 75%;
  height: 4px;
  background-color: #4f4f4f;
  border-radius: 2px;
}

.progress-bar-active {
  height: 100%;
  background-color: var(--active);
  border-radius: 2px;
}

.time-text {
  color: var(--white);
  font-size: 12px;
}

.quiz-answers-props-button-text {
  color: var(--white);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.artists-name {
  color: var(--white);
  font-size: 14px;
}

.hidden-text {
  display: block;
  filter: blur(10px);
}

.reveal-text {
  animation: reveal-text 0.5s ease-in-out;
}

@keyframes reveal-text {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0px);
  }
}