.discover-container {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  padding: 20px;

  & .playlist-add-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    transform: scale(1.5);
  }
}

.discover-content {
  height: 100%;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: var(--white);
  margin: 0 auto;
}

.discover-header {
  align-self: flex-start;
  width: 100%;

  & .discover-header-title {
    font-size: 2.5rem;
    font-family: "Roboto-Bold", "sans-serif";
  }
}

.discover-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  & .subtitle {
    align-self: flex-start;
    width: 100%;
    font-size: 1.25rem;
    font-family: "Roboto-Bold", "sans-serif";
    margin-left: 5px;
  }
}

.discover-body-charts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .discover-charts-container {
    width: 100%;
    background-color: rgba(38, 170, 164, 0.1);
    border-radius: 30px;
    corner-shape: squircle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 275px;
  }
}

.discover-body-event {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .discover-event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    corner-shape: squircle;

    & .discover-event-title {
      color: var(--white);
    }
  }
}

.discover-body-families {
  width: 100%;
  //display: grid;
  //grid-template-columns: 1fr 1fr;
  //grid-template-rows: 150px 150px;
  //gap: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

  #discover-family-3 {
    grid-row-start: 2;
  }

  #discover-family-4 {
    grid-row-start: 2;
  }

  #discover-family-5 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    height: 60px;

    & .discover-families-item-name {
      max-width: 200px;
      left: 75px;
      top: 15px;
    }
  }

  & .discover-families-item {
    position: relative;
    //width: calc(100vw / 2.58);
    height: 100px;
    cursor: pointer;
    border-radius: 30px;
    corner-shape: squircle;
    overflow: hidden;

    & .discover-families-item-name {
      position: absolute;
      top: 15px;
      left: 15px;
      color: var(--white);
      font-size: 1.6rem;
      max-width: 150px;
      padding: 0 5px;
      font-family: "Roboto-Bold", "sans-serif";
      z-index: 3;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 3;
      border-radius: 20px;
    }

    & .discover-families-item-cover {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(-15deg, rgba(0, 0, 0, 0) 0.00%, var(--active) 80.00%);
    }
  }
}

.discover-footer {
  position: fixed;
  bottom: 30px;
  width: 100%;
  z-index: 1;
}