.favorites {
  display: flex;
  align-items: center;
  color: var(--white);
  margin-bottom: 8px;
}

.title {
  color: var(--white);
  font-size: 1rem;
  font-family: "Roboto-Bold", "sans-serif";
}

.sub-title {
  color: var(--white);
  font-size: 0.8rem;
  margin-left: 5px;
  font-family: "Roboto-Light", "sans-serif";
}