.profile-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  z-index: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.profile-header {
  position: relative;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 100%;

  & .settings-icon {
    position: absolute;
    top: 25px;
    right: 10px;
    justify-self: flex-end;
    align-self: flex-end;
    border-style: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      .settings-icon {
        fill: var(--active);
      }
    }
  }

  & .profile-header-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;

    & .profile-header-infos-name {
      color: var(--gray);
      font-family: "Roboto-Light", "sans-serif";
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
  }

  & .profile-header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    & button {
      cursor: pointer;
      font-family: "Roboto-Medium", "sans-serif";
      font-size: 0.9rem;
      color: var(--white);
      width: 150px;
      border-style: hidden;
      border-radius: 100px;
      background-color: var(--active);
    }

    & .button-edit {
      height: 40px;
      background-color: var(--active);
    }

    & .button-share {
      padding-top: 5px;
    }
  }
}

.profile-body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;

  & .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;

    & .experience-text {
      display: flex;
      flex-direction: row;

      & .experience-label {
        color: var(--white);
        font-family: "Roboto-Light", "sans-serif";
        font-size: 0.8rem;
        align-self: end;
        padding-bottom: 8px;
      }

      & .experience-value {
        color: var(--white);
        font-size: 1.5rem;
        margin-left: 3px;
        margin-bottom: 5px;
        font-family: "Roboto-Bold", "sans-serif";
      }
    }

    & .experience-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 75%;
      background-color: var(--dark);
      height: 15px;
      border-radius: 100px;
      position: relative;
      padding: 5px;

      & .experience-progression-bar {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        background-color: var(--active);
        height: 15px;
        border-radius: 100px;
      }

      & .experience-progression-text {
        color: var(--white);
        font-size: 12px;
        font-family: "Roboto-Light", "sans-serif";
        margin-top: 40px;
      }
    }
  }

  & .title {
    color: var(--white);
    font-size: 1rem;
    font-family: "Roboto-Bold", sans-serif;
  }

  & .reputation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-top: 20px;
    width: 100%;

    & .reputation-infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      & .grade {
        color: var(--white);
        font-size: 1rem;
        font-weight: 300;
        font-family: "Roboto-Light", "sans-serif";

        & .grade-label {
          color: var(--gray);
          font-family: "Roboto-Bold", "sans-serif";
        }
      }
    }
  }

  & .profile-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;

    & .tastes-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: var(--dark);
      border-radius: 14px;
      padding: 10px 0;
      margin-bottom: 15px;
      width: 100%;

      & .tastes-label {
        margin-top: 5px;
        padding-bottom: 10px;
        margin-left: 10px;
        color: var(--gray);
        font-size: 0.65rem;
        font-weight: 300;
        font-family: "Roboto-Light", "sans-serif";
      }

      & .tastes-list {
        display: flex;
        gap: 5px;
        height: fit-content;
        margin-left: 10px;
        padding: 5px 0;

        & .tastes-list-item {
          font-family: "Roboto-Medium", "sans-serif";
          font-size: 0.95rem;
          color: var(--white);
          text-wrap: balance;
        }
      }
    }
  }
}

.profile-footer {
  position: fixed;
  bottom: 30px;
  left: 0;
  align-self: flex-end;
  justify-self: flex-end;
  width: 100%;
}

@media screen and (max-height: 670px) {
  .profile-body {
    & .profile-category {

      & .tastes-container {
        margin-bottom: 0;
      }
    }
  }
}