.quiz-page-container {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.quiz-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 50px);
  padding: 15px;
  max-width: 320px;
  gap: 30px;
  z-index: 1;
}

.quiz-player {
  width: 100%;
  height: 100px;
  background-color: rgba(38,173,214,0.30);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

@media screen and (max-height: 670px) {
  .quiz-player {
    margin-bottom: 30px;
  }
}