.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 85%;
  max-width: 480px;
  z-index: 5;
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0.05);
  border-radius: 32px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  overflow: hidden;

  & .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    & p {
      color: var(--white);
      font-size: 0.9rem;
      font-family: "Roboto-Medium", "sans-serif";
    }
  }

  @media (hover: hover) {
    .footer-item:hover {
      background-color: var(--dark);
    }
  }

  & .current-path {
    background-color: var(--background);

    & p {
      color: var(--white);
      font-size: 0.9rem;
      font-family: "Roboto-Bold", "sans-serif";
    }
  }

  & .footer-item-likes {
    background-color: var(--active);
    border-radius: 100px;
    width: 20%;
  }

  & .footer-item-likes-active {
    background-color: var(--background);
  }
}