.game-completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;

  & .game-completed-title {
    color: var(--white);
    font-size: 1.5rem;
    font-family: "Roboto-Bold", "sans-serif";
    margin-bottom: 10px;
  }

  & .game-completed-recap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;

    & .recap-text {
      color: var(--white);
      font-size: 1rem;
      font-family: "Roboto-Light", "sans-serif";
    }

    & .recap-value {
      font-size: 1.2rem;
      font-family: "Roboto-Bold", "sans-serif";
      color: var(--white);
    }
  }

  & .experience-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    background-color: var(--dark);
    height: 15px;
    border-radius: 100px;
    position: relative;
    padding: 5px;

    & .experience-progression-bar {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      background-color: var(--active);
      height: 15px;
      border-radius: 100px;
    }

    & .experience-progression-text {
      color: var(--white);
      font-size: 12px;
      font-family: "Roboto-Light", "sans-serif";
      margin-top: 40px;
    }
  }

  & .game-completed-button {
    margin-top: 50px;
    border-style: hidden;
    padding: 10px;
    width: 75px;
    cursor: pointer;
    color: var(--white);
    font-family: "Roboto-Medium", "sans-serif";
    font-size: 1rem;
    background-color: var(--active);
    border-radius: 100px;
    transition: background-color 0.09s ease-in-out;
  }
}