
.add-playlist-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.add-playlist-form-header {
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
}

.add-playlist-form-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 320px;
  padding: 15px;
  border-radius: 10px;
}

.add-playlist-label {
  color: var(--white);
  font-size: 16px;
}

.add-playlist-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--active);
  color: var(--dark);
  background-color: var(--white);
  outline: none;
  margin-bottom: 10px;
}

.add-playlist-genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.add-playlist-genre-item {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--active);
  color: var(--white);
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.add-playlist-form-footer {
  width: 100%;
}

.add-playlist-button {
  width: 100%;
  padding: 15px 0;
  background-color: var(--active);
  border-radius: 30px;
  border-style: hidden;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--dark);
  }

  &:disabled {
    background-color: var(--gray);
  }
}