.playlist-container {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.example {
  font-size: 0.8em;
}

.react-tooltip {
  text-wrap: wrap;
  max-width: 250px;
  width: 100%;
  font-size: 0.6em !important;
}

.playlist-content {
  height: 100%;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
}

.playlist-header-owner-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 0;
  right: 0;
  border-style: hidden;
  cursor: pointer;

  & .button-edit {
    padding: 8px;
    position: relative;
    border-style: hidden;
    background-color: var(--active);
    border-radius: 100px;
    cursor: pointer;

    & .button-edit-icon {
      height: 100%;
      width: 100%;
      margin-left: 2px;
    }
  }

  & .playlist-header-delete-button {
    background-color: var(--redBkg);
    padding: 8px;
    border-radius: 100px;
    border-style: hidden;
  }
}

.playlist-header {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;

  & .playlist-header-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  & .playlist-header-title {
    text-align: center;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
    font-family: "Roboto-Bold", "sans-serif";
  }

  & .playlist-header-genres-user {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
  }

  & .playlist-header-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    & .user-image {
      height: 20px;
      width: 20px;
      border-radius: 100%;
      overflow: hidden;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    & .playlist-header-created {
      font-size: 0.8rem;
      font-family: "Roboto-Light", "sans-serif";
    }
  }

  & .playlist-header-genre {
    font-size: 0.8rem;
    font-family: "Roboto-Light", "sans-serif";
    transform: translateY(2px);
  }

  & .playlist-tracks-count {
    font-size: 0.8rem;
    font-family: "Roboto-Light", "sans-serif";
  }


  & .playlist-header-cover {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    border-radius: 100%;
    overflow: hidden;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}

.playlist-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-style: hidden;

  & .playlist-social {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  & .share {
    position: relative;
    background-color: transparent;
    border-style: hidden;

    & .shared {
      position: absolute;
      height: 50px;
      width: 150px;
      background-color: rgba(38, 164, 170, 0.55);
      bottom: 80px;
      right: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      animation: slide-up 3s ease-in-out forwards;

      & p {
        text-align: center;
        text-wrap: balance;
        font-size: 0.8rem;
      }
    }
  }

  & .playlist-social-text {
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0;
    text-align: center;
    align-content: center;
    font-size: 0.9rem;
    font-family: "Roboto-Light", "sans-serif";
    color: var(--white);
  }

  & .playlist-social-play-button {
    padding: 20px;
    background-color: var(--active);
    border-radius: 100px;
    border-style: hidden;
    cursor: pointer;
  }

  & .playlist-social {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border-style: hidden;
  }

  & .content-icon {
    background-color: var(--active);
    padding: 15px;
    border-radius: 30px;
  }
}

.playlist-tracks {
  align-self: flex-start;
  padding-left: 10px;
}

.playlist-body {
  position: relative;
  height: 21.5rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //gap: 12px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  corner-shape: squircle;
  scrollbar-color: var(--active) transparent;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;

  }

  & .playlist-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    & .playlist-item-counter {
      width: 5%;
      font-size: 0.8rem;
      color: var(--white);
      opacity: 0.65;
      font-family: "Roboto-Light", "sans-serif";
    }

    & .playlist-item-artists {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.75rem;
      color: var(--white);
      opacity: 1;
      font-family: "Roboto-Regular", "sans-serif";
    }

    & .playlist-item-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      //width: 45%;
      font-size: 0.8rem;
      color: var(--white);
      opacity: 1;
      font-family: "Roboto-Light", "sans-serif";
    }
  }
}

.playlist-footer {
  min-height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 14px;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    bottom: 60px;
  }

  10% {
    opacity: 1;
    bottom: 80px;
  }

  90% {
    opacity: 1;
    bottom: 80px;
  }

  100% {
    opacity: 0;
    bottom: 60px;
  }
}