@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/static/Roboto-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/static/Roboto-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./assets/fonts/static/Roboto-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./assets/fonts/static/Roboto-Medium.woff2') format('woff2');
    font-display: swap;
}

:root {
    --background: #111714;
    --dark: #182725;
    --active: #26AAA4;
    --white: #ffffff;
    --gray: #cacaca;
    --redBkg: #de4444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Regular', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.page-transition {
    animation: fadeIn 0.3s ease-in-out;

}

.not-whitelisted {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}