.home-container {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
}

.home-header, .home-body, .home-footer {
  position: relative;
  z-index: 2;
}


.home-loader {
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.home-header {
  max-width: 580px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  & .header-logo-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  & .header-logo {
    color: var(--white);
    font-size: 1.5rem;
    font-family: 'Roboto-Bold', 'sans-serif';
    margin-left: 10px;
    border: 2px solid var(--white);
    border-radius: 40px;
    corner-shape: squircle;
    padding: 3px 7px;
  }

  & .hello-text {
    margin-left: 10px;
    color: var(--white);
    font-size: 2.3rem;
    font-family: 'Roboto-Bold', 'sans-serif';
    margin-bottom: 10px;
  }

  & .not-connected {
    margin-top: 20px;

    & .connect-button {
      border-style: hidden;
      margin-top: 10px;
      margin-left: 10px;
      width: fit-content;
      height: fit-content;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 20px;
      background-color: var(--active);
      color: var(--white);
      font-size: 1rem;
      font-family: 'Roboto-Medium', 'sans-serif';
    }
  }

  & .icon-profile {
    position: relative;
    cursor: pointer;
    height: 54px;
    width: 54px;
    border: 2px solid var(--white);
    border-radius: 100px;
    align-self: flex-end;
  }

  & .hello {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-top: 20px;
  }

  & .header-menu {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 5px;
  }
}

.home-body {
  max-width: 580px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;

  & .home-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    height: 140px;
    width: 100%;
    border-radius: 40px;
    corner-shape: squircle;
    padding: 20px;
    border: 2px solid #FFFFFF;
    cursor: pointer;

    & .home-category-type {
      color: #fff;
      font-size: 0.9rem;
      font-family: 'Roboto-Light', 'sans-serif';
      width: 100%;
      margin-left: 5px;
    }

    & .home-category-name {
      color: #fff;
      width: 75%;
      font-size: 2rem;
      text-wrap: balance;
      font-family: 'Roboto-Bold', 'sans-serif';
    }
  }

  & .disabled {
    overflow: hidden;
    position: relative;
    cursor: unset;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: inherit;
      filter: grayscale(1) blur(3px);
      -webkit-filter: grayscale(1) blur(3px);
      z-index: 1;
    }

    &:after {
      content: "Not available";
      color: var(--white);
      top: 0;
      left: 0;
      position: absolute;
      background-color: rgba(24, 39, 37, 0.3);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-family: 'Roboto-Bold', 'sans-serif';
      z-index: 2;
    }
  }
}

.home-footer {
  justify-self: flex-end;
  height: 50px;
  width: 100%;
  max-width: 580px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & .home-footer-text:last-child {
  border-left: 1px solid var(--white);
    padding-left: 20px;
}

  & .home-footer-text {
    cursor: pointer;
    text-underline: white;
    color: var(--white);
    font-size: 0.8rem;
    font-family: 'Roboto-Medium', 'sans-serif';
    margin-top: 20px;
  }
}

@media screen and (min-width: 480px) {

  .home-container {
    height: 100vh;
    width: 100%;
  }

  .home-header {
    max-width: 1440px;

    & .header-menu {
      overflow-x: hidden;
    }
  }

  .home-body {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    & .home-category {
      width: 100%;
      height: 250px;

      & .home-category-name {
        color: #fff;
        font-size: 2.5rem;
        width: 40%;
        margin-top: 10px;
      }
    }
  }
}