.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 20px 0;
  border-radius: 40px;
  corner-shape: squircle;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}
.player-container::before {
  border-radius: 18px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: inherit;
}

.player-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  position: relative;
  margin-bottom: 10px;
  z-index: 2;
}

.player-informations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  z-index: 2;
}

.player-cover {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: #4f4f4f;
}
.player-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player-informations-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  margin-left: 10px;
  max-width: 150px;
}
.player-informations-text .player-informations-text-artists {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.player-song-text {
  color: var(--white);
  font-size: 10px;
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-artists {
  color: var(--white);
  font-size: 10px;
  font-weight: bold;
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-play {
  height: 100%;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  padding-left: 10px;
}

.content-icon {
  background-color: var(--active);
  border-radius: 30px;
  cursor: pointer;
  padding: 8px;
  border-style: hidden;
}

.player-play-button {
  border-style: hidden;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--active);
  justify-content: center;
  align-items: center;
}

.player-controls {
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.player-loading {
  justify-content: center;
  align-items: center;
}

.player-progress-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 110%;
  z-index: 2;
}

.player-progress-bar {
  cursor: pointer;
  width: 75%;
  height: 4px;
  background-color: #4f4f4f;
  border-radius: 2px;
}

.player-progress-bar-active {
  height: 100%;
  background-color: var(--active);
  border-radius: 2px;
}

.player-time-text {
  color: var(--white);
  font-size: 12px;
}

.player-quiz-answers-props-button-text {
  color: var(--white);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.player-artists-name {
  color: var(--white);
  font-size: 14px;
}

.player-hidden-text {
  display: block;
  filter: blur(10px);
}

.player-reveal-text {
  animation: reveal-text 0.5s ease-in-out;
}

@keyframes reveal-text {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0px);
  }
}

/*# sourceMappingURL=player-ui.css.map */
